<p id="notice"><%= notice %></p>

<h1>Breeds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <% if !user_signed_in? %>
    <p>Sign in or create an account to save breeds to your favorites.</p>
  <% end %>
    <% @breeds.each do |breed| %>
      <tr>
        <td><%= breed.name %></td>
        <td><%= render "favorite", :breed => breed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>