<div id="msg_placeholder"></div>

  <%= render "search_form" %>
  
  <button id="remasonry">remasonry</button>
  
  <div id="pet_render_partial">
    <%= render "pet_render", :pets => @pets %>
  </div>
  <!-- <nav id="page-nav">
    <a href="../pages/2.html"></a>
  </nav> -->