$('#pet-render').replaceWith("<%= j render(partial: 'results') %>")

ias.nextUrl = $('.next').attr('href');

$('#results_count').replaceWith("<div id='results_count'><%= @pets.count %> Results:</div>")