<h1>Hey Soph and Brandon!</h1>
<h2>There are <%= @pets.count %> pets available for adoption that are allowed in your building!</h2>
<%= render "search_form" %>

<%= render "pet_render", :pets => @pets %>