<%= render "pet_render", :pets => @pets %>

<div id="pagination">
	<%= link_to "", more_results_path(@page + 1, locals: {query_params: params["locals"]["query_params"]}), :remote => true, :class => 'next' %>
</div>