$("#msg_placeholder").html("<div><p>Favorite deleted!</p></div>")
var str = 'form.edit_user_pet input[value='+ <%=@pet.id.to_s%> +']'
jQuery(str).parents('div.destroy_form').replaceWith("<%= j render(partial: 'create', locals: { pet: @pet }) %>")